<template>
  <div class="app">
    <AppHeader/>
    <div class="app-body">
      <Sidebar :navItems="nav"/>
      <main class="main">
        <breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside/>
    </div>
    <AppFooter/>
  </div>
</template>

<script>
  import nav from '../_nav'
  import { Header as AppHeader, Sidebar, Aside as AppAside, Footer as AppFooter, Breadcrumb } from '../components/'

  export default {
    name: 'full',
    components: {
      AppHeader,
      Sidebar,
      AppAside,
      AppFooter,
      Breadcrumb
    },
    data () {
      return {
        nav: nav.items
      }
    },
    computed: {
      name () {
        return this.$route.name
      },
      list () {
        if (this.$route.path === '') {
          console.log('nonane for route')
        }
        return this.$route.matched
      }
    },
    beforeCreate () {
      if (!Store.getters.tokens.refresh_token && this.$route.name !== 'Login') {
        this.$router.push('/login')
      } else {
        Store.dispatch('checkTokenValidity')
          .then(response => {
            // console.log("Response checktoken success", response)
            if (this.$route.name === 'Login') {
              this.$router.push('/dashboard')
            }
          })
          .catch(error => {
            console.log('Response logout error', error)
          })
      }
    }
  }

  $(document).ready(function () {

  })
</script>
