<template>
  <div>
    <div class="materials-wrapper w-100" v-for="(component, index) in getComponentsList" >
      <b-form-fieldset
        class="w-100">
        <div class="complete-grp d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
          <div
            ref="id" v-model="materials[index].id" :edit-material="getEditMaterial(index)"
            @selected="materialSelected(index, $event)" @reseted="childReseted" class="col-12 col-md-7"
            :reset-material="shouldReset" :class="{ 'is-invalid': errorsMaterial[index].id }"
            :is="component" style="position: relative; z-index: 500; padding: 0; min-width: 208px"></div>
          <div class="input-group col-4 col-md-3 offset-md-1" style="padding-left: 0">
            <input type="text" :class="" class="quantity form-control" placeholder="542.32" v-model="materials[index].quantity">
            <span class="input-group-addon">{{ materials[index].um }}</span>
          </div>
          <div class="input-group">
            <input class="form-control is-invalid" type="hidden">
            <div class="invalid-feedback" v-for="error in errorsMaterial[index].quantity" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
          </div>
          <div v-if="index > 0 && index == componentsList.length - 1" class="remove-comp" @click="removeAutocomplete(index)" @keyup.enter="removeAutocomplete(index)" tabindex="0">
            <i class="fa fa-minus"></i>
          </div>
        </div>
      </b-form-fieldset>
    </div>
    <div class="add-comp-btn d-flex align-items-center" @click="addAutocomplete" tabindex="0" @keyup.enter="addAutocomplete">
      <i class="fa fa-plus ml-auto mr-auto"></i>
    </div>
  </div>
</template>

<script>
  import MaterialAutocomplete from '@/components/form/MaterialAutocomplete'
  export default {
    name: 'add-material-dynamic',
    components: {
      MaterialAutocomplete
    },
    props: {
      resetMaterial: {
        type: Boolean,
        default: false
      },
      editMaterials: {
        type: Array,
        default: []
      }
    },
    data () {
      return {
        componentsList: ['material-autocomplete'],
        materials: [
          {
            id: null,
            quantity: null,
            um: null
          }
        ],
        errorsMaterial: [
          {
            id: null,
            quantity: null
          }
        ],
        resetsMaterials: false
      }
    },
    computed: {
      shouldReset () {
        this.resetsMaterials = this.resetMaterial
        return this.resetsMaterials
      },
      getComponentsList () {
        return this.componentsList
      },
      getSelectedMaterials () {
        return this.materials
      },
      inEditMode () {
        return (this.editMaterials instanceof Array && this.editMaterials.length > 0)
      }
    },
    methods: {
      getEditMaterial (index) {
        if (this.inEditMode) {
          return this.materials[index]
        }
      },
      materialSelected (index, value) {
        this.materials[index].um = value
        this.$emit('input', this.materials)
      },
      addAutocomplete () {
        this.componentsList.push(this.componentsList[0])
        this.materials.push({
          id: null,
          quantity: null,
          um: null
        })
        this.errorsMaterial.push({
          id: null,
          quantity: null
        })
      },
      removeAutocomplete (index, clear = false) {
        this.materials.splice(index, 1)
        if (!clear) {
          this.componentsList.splice(index, 1)
        }
        this.$emit('input', this.materials)
      },
      clearAll () {
        let $this = this
        $this.materials = [
          {
            id: null,
            quantity: null,
            um: null
          }
        ]
        this.componentsList = ['material-autocomplete']
      },
      childReseted () {
        this.$emit('reseted', true)
      },
      checkEditMode () {
        if (this.inEditMode) {
          this.materials = this.editMaterials
          let $this = this
          $.each($this.materials, function (index) {
            if (index > 0) {
              $this.componentsList.push($this.componentsList[0])
              $this.errorsMaterial.push({
                id: null,
                quantity: null
              })
            }
          })
        }
      }
    },
    watch: {
      resetMaterial (valueB) {
        if (valueB) {
          console.log('reset in wrapper triggered')
          this.resetsMaterials = true
          this.clearAll()
        }
      }
    },
    created () {
      this.checkEditMode()
    }
  }
</script>

<style lang="scss">
  $color: #ffc107;

  .materials-wrapper{
    display: inline-flex;
    align-items: center;

    .quantity{
      min-width: 60px;
    }
  }


  .col-form-label{
    display: flex;
    align-items: center;
  }

  .add-comp-btn{
    background: $color;
    min-height: 30px;
    width: 30px;
    position:relative;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid $color;
    border-radius: 15px;
    margin: 15px 50px;
  }

  .remove-comp{
    background: darkred;
    height: 30px;
    width: 30px;
    position:relative;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid darkred;
    border-radius: 15px;
    margin: 15px;
    min-width: 30px;

    text-align: center;
    line-height: 30px;
  }
</style>
