<template>
  <div>
    <div class="form-group">
      <div class="col-12" style="padding-left: 0">Material</div>
      <material-autocomplete ref="id" v-model="material.id" @input="emitChange" :edit-material="getPassedMaterial"
                             @selected="material.um = $event" @reseted="resetMaterial = false"
                             :reset-material="shouldReset" :class="{ 'is-invalid': errorsMaterial.id.length }"
                             style="position: relative; z-index: 500"></material-autocomplete>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorsMaterial.id" style="margin-top: 0; margin-left: auto">{{ error }}</div>
      </div>
    </div>
    <div class="form-group">
      <b-form-fieldset
        label="Quantity"
        :label-cols="3"
        :horizontal="true">
        <div class="input-group">
          <input type="text" :class="" class="quantity form-control" placeholder="542.32" v-model="material.quantity" @input="emitChange">
          <span class="input-group-addon">{{ material.um }}</span>
        </div>
      </b-form-fieldset>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorsMaterial.quantity" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import MaterialAutocomplete from '@/components/form/MaterialAutocomplete'

  export default {
    name: 'add-material-inventory',
    components: {
      MaterialAutocomplete
    },
    props: {
      reset: {
        type: Boolean,
        default: false
      },
      passedMaterial: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        errorsMaterial: {
          id: [],
          quantity: [],
          addDate: []
        },
        material: {
          id: null,
          quantity: null,
          um: null
        },
        resetMaterial: false
      }
    },
    computed: {
      shouldReset () {
        return this.resetMaterial
      },
      inEditMode () {
        return !!this.passedMaterial
      },
      getPassedMaterial () {
        if (this.inEditMode) {
          return this.passedMaterial
        }
        return null
      }
    },
    methods: {
      emitChange () {
        this.$emit('input', this.material)
      },
      resetAll () {
        this.material = {
          id: null,
          quantity: null,
          um: null
        }

        this.errorsMaterial = {
          id: [],
          quantity: [],
          addDate: []
        }

        this.$emit('reseted', true)
      },
      checkEditMode () {
        if (this.inEditMode) {
          this.material = this.passedMaterial
        }
      }
    },
    created () {
      this.checkEditMode()
    },
    watch: {
      reset (value) {
        if (value) {
          this.resetMaterial = true
          this.resetAll()
        }
      }
    }
  }
</script>

<style>

</style>
