<template>
  <div>
    <div class="form-group">
      <div class="col-12" style="padding-left: 0">Product</div>
      <product-autocomplete ref="id" v-model="product" @input="addedProduct"
                            @reseted="resetProduct = false" :passed-product="getPassedProduct"
                            :reset-product="shouldReset" :class="{ 'is-invalid': errorsProduct.id.length }"
                            style="position: relative; z-index: 500"></product-autocomplete>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorsProduct.id" style="margin-top: 0; margin-left: auto">{{ error }}</div>
      </div>
    </div>
    <div class="form-group" v-for=" (variation, index) in product.variations">
      <b-form-fieldset
        :label="variation.name"
        :label-cols="7"
        :horizontal="true">
        <div class="input-group" v-if="variation.name">
          <b-form-input v-model="product.variations[index].quantity" :value="getPassedQuantity(index)" placeholder="Amount to add"></b-form-input>
        </div>
      </b-form-fieldset>
      <!--<div class="input-group">-->
      <!--<input class="form-control is-invalid" type="hidden">-->
      <!--<div class="invalid-feedback" v-for="error in errorsProduct.quantity" style="margin-top: -15px; margin-left: auto">{{ error }}</div>-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
  import ProductAutocomplete from '@/components/form/ProductAutocomplete'

  export default {
    name: 'add-product-inventory',
    components: {
      ProductAutocomplete
    },
    props: {
      reset: {
        type: Boolean,
        default: false
      },
      passedProduct: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        variationsQuantity: [0],

        product: {
          id: null,
          name: null,
          variations: [{
            materials: null,
            name: null
          }]
        },

        errorsProduct: {
          id: [],
          quantity: [],
          add_date: []
        },

        resetProduct: false
      }
    },
    computed: {
      shouldReset () {
        return this.resetProduct
      },
      inEditMode () {
        return !!this.passedProduct
      },
      getPassedProduct () {
        if (this.inEditMode) {
          return this.passedProduct
        }
        return null
      }
    },
    methods: {
      getPassedQuantity (index) {
        return this.variationsQuantity[index]
      },
      addedProduct () {
        let $this = this
        $this.variationsQuantity = []
        $.each($this.product.variations, function (index, value) {
          $this.variationsQuantity.push(0)
        })
        this.emitChange()
      },
      emitChange () {
        console.log('quantity', this.variationsQuantity)
        this.$emit('input', this.product)
        this.$emit('changesMade', this.variationsQuantity)
      },
      resetAll () {
        this.product = {
          id: null,
          name: null,
          variations: [{
            materials: null,
            name: null
          }]
        }
        this.variationsQuantity = [ 0 ]

        this.loading = false
      },
      checkEditMode () {
        if (this.inEditMode) {
          let $this = this
          $this.product = this.passedProduct
          $this.variationsQuantity = []
          $.each($this.product, function (index) {
            $this.variationsQuantity.push($this.product[index].quantity)
          })
          console.log(this.product)
        }
      }
    },
    created () {
      this.checkEditMode()
    },
    watch: {
      reset (value) {
        if (value) {
          console.log('reseted inventory')
          this.resetProduct = true
          this.resetAll()
          this.$emit('reseted', true)
        }
      }
    }
  }
</script>

<style>

</style>
