<template>
  <div>
    <span style="font-weight: 600">Items</span><br>
    <div class="form-input item-list" v-for="(component, index) in getComponentList">
      <div v-model="items.materials[index]" :passed-material="getPassedMaterial(index)" @input="emitChanges" :reset="shouldReset" @reseted="resetsAll = false" :is="component" class="custom-component" v-if="component === 'add-material-inventory'"></div>
      <div v-model="items.products[index]" :passed-product="getPassedProduct(index)" @input="emitChanges" :reset="shouldReset" @reseted="resetsAll = false" :is="component" class="custom-component" v-else></div>

      <!--<div class="in-stock" v-if="items.products" style="margin-bottom: 15px; font-size: 18px">-->
      <!--<b-badge variant="primary" v-if="productStocks.length > 0">In Stock: {{ productStocks[0] }}</b-badge>-->
      <!--<b-badge variant="warning" v-else>Not in stock!</b-badge>-->
      <!--</div>-->

      <!--<div class="required-zone" v-if="items.products" style="font-size: 18px;margin-bottom: 10px">-->
      <!--<b-badge variant="success" v-if="sufficientStock">Stock Available!</b-badge>-->
      <!--<b-badge variant="warning" v-else style="color: #ffffff">-->
      <!--Insufficient!<br>-->
      <!--Required: {{ requiredStock }} more-->
      <!--</b-badge>-->
      <!--</div>-->
      <b-button v-if="index == componentList.length - 1" type="button" size="md" style="margin-bottom: 15px"
                variant="danger" @click="removeVariation(index, component)" @keyup.enter="removeVariation(index, component)">
        <i class="fa fa-minus"> Remove Item</i>
      </b-button>
    </div>

    <div class="input-group" style="margin-top: 15px; margin-bottom: 15px">
      <b-button type="button" size="md" variant="warning" @click="appendComponent('add-material-inventory')">
        <i class="fa fa-plus"> Add Material</i>
      </b-button>
      <b-button type="button" size="md" variant="warning" @click="appendComponent('add-product-inventory')">
        <i class="fa fa-plus"> Add Product</i>
      </b-button>
    </div>
  </div>
</template>

<script>
  import AddProductInventory from '@/components/form/AddProductInventory'
  import AddMaterialInventory from '@/components/form/AddMaterialInventory'

  export default {
    name: 'add-sale-items-dynamic',
    components: {
      AddProductInventory,
      AddMaterialInventory
    },
    props: {
      reset: {
        type: Boolean,
        default: false
      },
      passedItems: {
        type: Array,
        default: []
      }
    },
    data () {
      return {
        componentList: [],
        items: {
          products: [],
          materials: []
        },
        resetsAll: false
      }
    },
    computed: {
      sufficientStock (index) {
        // return this.productStock - this.sale.quantity >= 0
      },
      requiredStock (index) {
        // return Math.abs(this.productStock - this.sale.quantity)
        return true
      },
      shouldReset () {
        return this.resetsAll
      },
      getComponentList () {
        return this.componentList
      },
      inEditMode () {
        return !!this.passedItems
      }
    },
    methods: {
      getPassedMaterial (index) {
        if (this.inEditMode) {
          let newIndex = 0
          let $this = this
          $.each(this.componentList, function (ind) {
            if (ind < index) {
              if ($this.componentList[ind] === 'add-material-inventory') {
                newIndex += 1
              }
            }
          })
          return this.items.materials[newIndex]
        }
        return null
      },
      getPassedProduct (index) {
        if (this.inEditMode) {
          let newIndex = 0
          let $this = this
          $.each(this.componentList, function (ind) {
            if (ind < index) {
              if ($this.componentList[ind] === 'add-product-inventory') {
                newIndex += 1
              }
            }
          })
          return this.items.products[newIndex]
        }
        return null
      },
      emitChanges () {
        this.$emit('input', this.items)
      },
      removeVariation (index, component) {
        this.componentList.pop()
        switch (component) {
          case 'add-material-inventory':
            this.items.materials.pop()
            break
          case 'add-product-inventory':
            this.items.products.pop()
            break
        }
      },
      appendComponent (componentName) {
        this.componentList.push(componentName)
        switch (componentName) {
          case 'add-material-inventory':
            this.items.materials.push({})
            break
          case 'add-product-inventory':
            this.items.products.push({})
            break
        }
      },
      resetAll () {
        this.resetsAll = true
        this.componentList = []
        this.items = {
          products: [],
          materials: []
        }
        this.$emit('reseted', true)
      },
      checkEditMode () {
        if (this.inEditMode) {
          let $this = this
          $.each($this.passedItems, function (index) {
            if ($this.passedItems[index].material) {
              $this.componentList.push('add-material-inventory')
              $this.items.materials.push($this.passedItems[index].material)
            } else {
              $this.componentList.push('add-product-inventory')
              $this.items.products.push($this.passedItems[index].product)
            }
          })
          console.log($this.items)
          console.log($this.componentList)
        }
      }
    },
    created () {
      this.checkEditMode()
    },
    watch: {
      reset (value) {
        if (value) {
          this.resetsAll = true
          this.resetAll()
        }
      }
    }
  }
</script>

<style lang="scss">
  .item-list{
    padding-left: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
  }

  .custom-component{
    &:nth-last-of-type(1n){
    }
  }
</style>
