<template>
  <div class="client-autocomplete">
    <multiselect v-model="selectedClient" @input="clientSelected" id="ajax" label="name" track-by="name"
                 placeholder="Find client" open-direction="bottom" :options="loadedClients"
                 :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false"
                 :close-on-select="true" :options-limit="300"
                 :max-height="600" :show-no-results="true" :selectLabel="'<-'" :deselectLabel="'-'"
                 :hide-selected="false" @search-change="findClientWait" :preserve-search="true">
      <template slot="clear" slot-scope="props">
        <div class="multiselect__clear" v-if="selectedClient" @mousedown.prevent.stop="clearAll(props.search)"></div>
      </template><span slot="noResult">Oops! No client found.</span>
    </multiselect>
    <!--<pre class="language-json"><code>{{ selectedCities  }}</code></pre>-->
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import ClientAPI from '@/api/ClientAPI'

  export default {
    name: 'client-autocomplete',
    components: {
      Multiselect
    },
    props: {
      resetClient: {
        type: Boolean,
        default: false
      },
      remove: {
        type: Boolean,
        default: false
      },
      passedClient: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        selectedClient: null,
        availableClients: [],
        isLoading: false,
        typing: null
      }
    },
    computed: {
      loadedClients () {
        return this.availableClients
      },
      shouldEmptyValue () {
        return this.selectedClient
      },
      inEditMode () {
        return !!this.passedClient
      }
    },
    methods: {
      addedClient () {
        if (this.selectedClient) {
          this.$emit('input', this.selectedClient)
          // this.$emit('selected', this.selectedClient.um)
        }
      },
      findClientWait (query) {
        console.log('wait')
        let $this = this
        $this.isLoading = false
        clearTimeout(this.typing)
        $this.typing = setTimeout(function () {
          $this.findClient(query)
        }, 500)
      },
      findClient (query) {
        console.log('find')
        if (query !== '') {
          let $this = this
          let findData = {
            partialName: query
          }

          $this.isLoading = true

          API.makeAsyncCall(ClientAPI.findC, findData)
            .then(response => {
              let clients = response
              $this.availableClients = []
              $.each(clients, function (index, item) {
                $this.availableClients.push(item)
              })
              $this.isLoading = false
              if (response.length === 0) {
                console.log('No responses')
                $this.selectedClient = {
                  new: true,
                  id: null,
                  name: query,
                  address: null,
                  phone: null,
                  email: null,
                  notes: null
                }
                $this.$emit('input', $this.selectedClient)
                $this.$emit('noResults', true)
              } else {
                $this.$emit('noResults', false)
              }
            })
            .catch(err => {
              console.log('Find material error', err)
              $this.isLoading = false
            })
        }
      },
      clientSelected () {
        this.addedClient()
      },
      clearAll () {
        this.$nextTick(() => {
          this.selectedClient = null
        })
      },
      checkEditMode () {
        console.log(this.passedClient)
        if (this.inEditMode) {
          this.selectedClient = this.passedClient
          this.availableClients.push(this.passedClient)
        }
      }
    },
    watch: {
      resetClient (reset) {
        if (reset) {
          console.log('reset received')
          this.clearAll()
          this.$emit('reseted', true)
        }
      },
      remove (reset) {
        if (reset) {
          this.$emit('removeMe')
        }
      }
    },
    created () {
      this.checkEditMode()
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
  .multiselect__content-wrapper{
    z-index: 9999;
    display: block;
    position: absolute;
  }
</style>
