<template>
  <div class="add-client-wrapper">
    <!-- SALE CLIENT FIELD -->
    <b-form-fieldset
      label="Client"
      :label-cols="3"
      :horizontal="false"
      :breakpoint="'xl'" style="font-size: 14px; font-weight: 600">
      <client-autocomplete
        ref="id" v-model="client" @input="inputChanged"
        @reseted="reseted" :passed-client="getPassedClient"
        :reset-client="shouldReset" @noResults="noResults($event)"
        style="position: relative; z-index: 500"></client-autocomplete>
    </b-form-fieldset>
    <!-- END CLIENT NAME FIELD -->

    <div v-if="showNew" class="new-client-section">
      <!-- CLIENT ADDRESS FIELD -->
      <b-form-fieldset
        label="Address"
        :label-cols="3"
        :horizontal="false">
        <b-form-input v-model="client.address" @input="inputChanged" type="text" ref="address" placeholder="Ex: Str.Aurului, nr 5"></b-form-input>
      </b-form-fieldset>
      <!-- END CLIENT ADDRESS FIELD -->

      <!-- CLIENT CITY & COUNTY FIELD -->
      <div class="input-group">
        <div class="col-5" style="padding-left: 0; padding-right: 0">
          <b-form-fieldset
            label="City"
            :horizontal="false">
            <b-form-input v-model="client.city" @input="inputChanged" class="w-100" type="text" ref="address" placeholder="City"></b-form-input>
          </b-form-fieldset>
        </div>
        <div class="col-5 offset-2" style="padding-right: 0; padding-left: 0">
          <b-form-fieldset
            label="County"
            :horizontal="false">
            <b-form-input v-model="client.county" @input="inputChanged" class="w-100" type="text" ref="address" placeholder="County"></b-form-input>
          </b-form-fieldset>
        </div>
      </div>
      <!-- END CLIENT CITY & COUNTY FIELD -->

      <!-- CLIENT PHONE FIELD -->
      <b-form-fieldset
        label="Phone"
        :horizontal="false">
        <b-form-input v-model="client.phone" type="text" @input="inputChanged" ref="phone" placeholder="Ex: +40761222333"></b-form-input>
      </b-form-fieldset>
      <!-- END CLIENT PHONE FIELD -->

      <!-- CLIENT EMAIL FIELD -->
      <b-form-fieldset
        label="Email"
        :label-cols="3"
        :horizontal="false">
        <b-form-input v-model="client.email" @input="inputChanged" type="text" ref="email" placeholder="Ex: contact@pernador.ro"></b-form-input>
      </b-form-fieldset>
      <!-- END CLIENT ADDRESS FIELD -->

      <!-- CLIENT NOTES FIELD -->
      <b-form-fieldset
        label="Notes"
        :label-cols="3"
        :horizontal="false">
        <b-form-textarea v-model="client.notes" @input="inputChanged"
                         placeholder="Specifications about client"
                         :rows="3"
                         :max-rows="6" :no-resize="true">
        </b-form-textarea>
      </b-form-fieldset>
      <!-- END CLIENT NOTES FIELD -->
    </div>
  </div>
</template>

<script>
  import ClientAutocomplete from '@/components/form/ClientAutocomplete'

  export default {
    name: 'client-create-add',
    components: {
      ClientAutocomplete
    },
    props: {
      reset: {
        type: Boolean,
        default: false
      },
      passedClient: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        resetClient: false,
        showNew: false,
        client: {
          new: true,
          id: null,
          name: null,
          address: null,
          city: null,
          county: null,
          country: 'Romania',
          phone: null,
          email: null,
          notes: null
        }
      }
    },
    computed: {
      shouldReset () {
        return this.resetClient
      },
      inEditMode () {
        return !!this.passedClient
      },
      getPassedClient () {
        if (this.inEditMode) {
          return this.client
        }
        return null
      }
    },
    methods: {
      inputChanged () {
        console.log(this.client)
        if (!this.client.country) {
          this.client.country = 'Romania'
        }
        this.$emit('input', this.client)
      },
      noResults (noResults) {
        this.showNew = noResults
      },
      resetAll () {
        this.resetClient = true
        this.showNew = false
        this.client = {
          new: true,
          id: null,
          name: null,
          address: null,
          city: null,
          county: null,
          country: 'Romania',
          phone: null,
          email: null,
          notes: null
        }
      },
      reseted () {
        this.resetAll()
        this.resetClient = false
        this.$emit('reseted', true)
      },
      checkEditMode () {
        console.log(this.passedClient)
        if (this.inEditMode) {
          this.client = this.passedClient
        }
      }
    },
    created () {
      this.checkEditMode()
    },
    watch: {
      reset (value) {
        if (value) {
          this.resetAll()
        }
      }
    }
  }
</script>

<style lang="scss">
  .add-client-wrapper{
    background: rgba(#ddd, 0.2);
    padding: 15px;
  }
</style>
