<template>
  <div>
    <b-form-input v-model="date" @input="emitInputDone" @change="emitInputDone" type="text" class="datetime" placeholder="Y/m/d"></b-form-input>
  </div>
</template>

<script>
  import {} from 'jquery-datetimepicker/build/jquery.datetimepicker.full.min'
  export default {
    name: 'date-time-picker',
    props: {
      reset: {
        type: Boolean,
        default: false
      }
    },
    components: {},
    data () {
      return {
        date: this.formatTime()
      }
    },
    computed: {
    },
    methods: {
      emitInputDone () {
        this.$emit('input', this.date)
      },
      formatTime (ct = null) {
        let newDate = ct ? new Date(ct) : new Date()
        var dd = newDate.getDate()
        var mm = newDate.getMonth() + 1

        var yyyy = newDate.getFullYear()
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        let ddd = yyyy + '-' + mm + '-' + dd
        return ddd
      }
    },
    watch: {
      reset: function (reset) {
        if (reset) {
          this.date = null
        }
      }
    },
    mounted () {
      let $this = this
      $('.datetime').datetimepicker({
        timepicker: false,
        format: 'Y-m-d',
        onSelectDate: function (ct) {
          let newDate = this.formatTime(ct)
          $this.date = newDate
          $this.emitInputDone()
        }
      })
      this.emitInputDone()
    }
  }
</script>

<style src="jquery-datetimepicker/build/jquery.datetimepicker.min.css"></style>
<style lang="scss">

</style>
