<template>
  <div class="material-autocomplete">
    <multiselect v-model="selectedMaterial" @input="materialSelected" id="ajax" label="name" track-by="name"
                 placeholder="Find material" open-direction="bottom" :options="availableMaterials"
                 :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false"
                 :close-on-select="true" :options-limit="300"
                 :max-height="600" :show-no-results="true" :selectLabel="'<-'" :deselectLabel="'-'"
                 :hide-selected="false" @search-change="findMaterialWait" :preserve-search="true">
      <template slot="clear" slot-scope="props">
        <div class="multiselect__clear" v-if="selectedMaterial" @mousedown.prevent.stop="clearAll(props.search)"></div>
      </template><span slot="noResult">Oops! No elements found.</span>
    </multiselect>
    <!--<pre class="language-json"><code>{{ selectedCities  }}</code></pre>-->
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import MaterialAPI from '@/api/MaterialAPI'

  export default {
    name: 'material-autocomplete',
    components: {
      Multiselect
    },
    props: {
      resetMaterial: {
        type: Boolean,
        default: false
      },
      remove: {
        type: Boolean,
        default: false
      },
      editMaterial: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        selectedMaterial: null,
        availableMats: [],
        isLoading: false,
        typing: null
      }
    },
    computed: {
      availableMaterials () {
        return this.availableMats
      },
      shouldEmptyValue () {
        return this.selectedMaterial
      },
      inEditMode () {
        return this.editMaterial
      }
    },
    methods: {
      addedMaterial () {
        if (this.selectedMaterial) {
          this.$emit('input', this.selectedMaterial.id)
          this.$emit('selected', this.selectedMaterial.um)
        }
      },
      findMaterialWait (query) {
        console.log('wait')
        let $this = this
        $this.isLoading = false
        clearTimeout(this.typing)
        $this.typing = setTimeout(function () {
          $this.findMaterial(query)
        }, 500)
      },
      findMaterial (query) {
        console.log('find')
        if (query !== '') {
          let $this = this
          let findData = {
            partialName: query
          }

          $this.isLoading = true

          API.makeAsyncCall(MaterialAPI.findMaterial, findData)
            .then(response => {
              let materials = response
              $this.availableMats = []
              $.each(materials, function (index, item) {
                $this.availableMats.push(item)
              })
              $this.isLoading = false
            })
            .catch(err => {
              console.log('Find material error', err)
              $this.isLoading = false
            })
        }
      },
      materialSelected () {
        this.addedMaterial()
      },
      clearAll () {
        this.$nextTick(() => {
          this.selectedMaterial = null
        })
      },
      checkEditMode () {
        if (this.inEditMode) {
          this.selectedMaterial = this.editMaterial
          this.availableMats = [this.selectedMaterial]
        }
      }
    },
    watch: {
      resetMaterial (reset) {
        if (reset) {
          console.log('reset received')
          this.clearAll()
          this.$emit('reseted', true)
        }
      },
      remove (reset) {
        if (reset) {
          this.$emit('removeMe')
        }
      }
    },
    created () {
      this.checkEditMode()
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
  .multiselect__content-wrapper{
    z-index: 9999;
    display: block;
    position: absolute;
  }
</style>
