<template>
  <div class="variation-wrapper w-100">
    <span style="font-size: 14px; font-weight: 600">Variation</span>
    <div class="input-group">
      <b-form-input @input="inputChanged" class="col-12 col-sm-7" type="text" ref="name" placeholder="Ex: rosu" v-model="variation.name"></b-form-input>
      <b-form-input v-if="!inEditMode" @input="inputChanged" class="col-4 col-sm-3 offset-sm-1" type="number" ref="quantity" placeholder="Initial" v-model="variation.quantity"></b-form-input>
    </div>
    <div class="materials">
      <span>Materials</span>
      <add-material-dynamic v-model="variation.materials" @input="materialAdded" :edit-materials="getEditMaterials"
                            :resetMaterial="shouldReset" @reseted="doneMaterialsReset"></add-material-dynamic>
    </div>
  </div>
</template>

<script>
  import AddMaterialDynamic from '@/components/form/AddMaterialDynamic'
  export default {
    name: 'product-variation',
    components: {
      AddMaterialDynamic
    },
    props: {
      reset: {
        type: Boolean,
        default: false
      },
      editVariation: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        resetMaterials: false,
        variation: {
          name: null,
          materials: null,
          quantity: null
        }
      }
    },
    computed: {
      shouldReset () {
        return this.resetMaterials
      },
      inEditMode () {
        return this.editVariation
      },
      getEditMaterials () {
        if (this.inEditMode) {
          return this.variation.materials
        }
      }
    },
    methods: {
      inputChanged () {
        this.$emit('input', this.variation)
      },
      materialAdded () {
        this.$emit('input', this.variation)
      },
      doneMaterialsReset () {
        this.resetMaterials = false
        this.$emit('reseted', true)
      },
      resetAll () {
        this.resetMaterials = true
        this.variation = {
          name: null,
          materials: null,
          quantity: null
        }
      },
      checkEditMode () {
        if (this.editVariation) {
          this.variation = this.editVariation
        }
      }
    },
    watch: {
      reset () {
        this.resetMaterials = this.reset
        if (this.reset === true) {
          this.resetAll()
        }
      }
    },
    created () {
      this.checkEditMode()
    }
  }
</script>

<style lang="scss" scoped>
  .materials{
    padding-left: 15px;
    margin-top: 5px;
  }
</style>

<style lang="scss">
  input::placeholder{
    font-style: italic;
  }
</style>
