<template>
  <div>
    <div class="variation-wrapper w-100" v-for="(component, index) in getComponentsList" >
      <div :is="component" v-model="variations[index]" @input="variationFilled(index, $event)"
           :reset="shouldResetVariations" :edit-variation="getVariation(index)"
           @reseted="doneReseting">
      </div>
      <div v-if="index > 0 && index == variations.length - 1" class="remove-comp" @click="removeVariation(index)" @keyup.enter="removeVariation(index)" tabindex="0" style="margin: 10px 15px">
        <div style="margin: 0 auto">
          <i class="fa fa-minus"></i> Remove variation
        </div>
      </div>
    </div>
    <div class="add-comp-btn d-flex align-items-center" @click="addVariation" tabindex="0" @keyup.enter="addVariation" style="margin: 10px">
      <div style="margin: 0 auto">
        <i class="fa fa-plus"></i> Add variation
      </div>
    </div>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import ProductVariation from '@/components/form/ProductVariation'
  export default {
    name: 'product-variations',
    components: {
      LoadingOverlay,
      ProductVariation
    },
    props: {
      reset: {
        type: Boolean,
        default: false
      },
      editMode: {
        type: Boolean,
        default: false
      },
      editVariations: {
        type: Array,
        default: []
      }
    },
    data () {
      return {
        componentsList: ['product-variation'],
        variations: [
          {
            name: null,
            materials: null,
            quantity: null
          }
        ],
        resetVariations: false
      }
    },
    computed: {
      getComponentsList () {
        return this.componentsList
      },
      shouldResetVariations () {
        return this.resetVariations
      }
    },
    methods: {
      variationFilled (index, value) {
        this.variations[index] = value
        if (value.name) {
          this.$emit('input', this.variations)
        }
      },
      getVariation (index) {
        return this.variations[index]
      },
      addVariation () {
        this.componentsList.push(this.componentsList[0])
        this.variations.push({
          name: null,
          materials: null,
          quantity: null
        })
      },
      removeVariation () {
        this.componentsList.pop()
        this.variations.pop()
      },
      resetAll () {
        this.resetVariations = true
        this.variations = [
          {
            name: null,
            materials: null,
            quantity: null
          }
        ]
        this.componentsList = ['product-variation']
      },
      doneReseting () {
        this.resetVariations = false
        this.$emit('reseted', true)
      },
      checkEditMode () {
        console.log('check edit mode ', this.editVariations)
        if (this.editMode && this.editVariations) {
          this.variations = this.editVariations
          let $this = this
          $.each(this.variations, function (index, item) {
            let materials = $this.variations[index].materials
            if (index > 0) {
              $this.componentsList.push($this.componentsList[0])
            }
            $.each(materials, function (index) {
              if (materials[index].mat_req) {
                materials[index].material.quantity = materials[index].mat_req
                materials[index] = materials[index].material
              }
            })
          })
        }
      }
    },
    watch: {
      reset (value) {
        if (value === true) {
          this.resetAll()
        }
      },
      editMode (value) {
        this.checkEditMode()
      }
    },
    created () {
      this.checkEditMode()
    }
  }
</script>

<style scoped lang="scss">
  .add-comp-btn, .remove-comp{
    margin: 0;
    width: auto;
    max-width: 180px;
    font-size: 16px;
  }
</style>
