<template>
  <div class="product-autocomplete">
    <multiselect v-model="selectedProduct" @input="productSelected" id="ajax" label="name" track-by="name"
                 placeholder="Find product" open-direction="bottom" :options="availableProducts"
                 :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false"
                 :close-on-select="true" :options-limit="300"
                 :max-height="600" :show-no-results="true" :selectLabel="'<-'" :deselectLabel="'-'"
                 :hide-selected="false" @search-change="findProductWait" :preserve-search="true">
      <template slot="clear" slot-scope="props">
        <div class="multiselect__clear" v-if="selectedProduct" @mousedown.prevent.stop="clearAll(props.search)"></div>
      </template><span slot="noResult">Oops! No product found.</span>
    </multiselect>
    <!--<pre class="language-json"><code>{{ selectedCities  }}</code></pre>-->
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import ProductAPI from '@/api/ProductAPI'

  export default {
    name: 'product-autocomplete',
    components: {
      Multiselect
    },
    props: {
      resetProduct: {
        type: Boolean,
        default: false
      },
      remove: {
        type: Boolean,
        default: false
      },
      passedProduct: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        selectedProduct: null,
        availableProds: [],
        isLoading: false,
        typing: null
      }
    },
    computed: {
      availableProducts () {
        return this.availableProds
      },
      shouldEmptyValue () {
        return this.selectedProduct
      },
      inEditMode () {
        return !!this.passedProduct
      }
    },
    methods: {
      addedProduct () {
        if (this.selectedProduct) {
          this.$emit('input', this.selectedProduct)
          this.$emit('selected', this.selectedProduct.inventory)
        }
      },
      findProductWait (query) {
        console.log('wait')
        let $this = this
        $this.isLoading = false
        clearTimeout(this.typing)
        $this.typing = setTimeout(function () {
          $this.findProduct(query)
        }, 500)
      },
      findProduct (query) {
        console.log('find')
        if (query !== '') {
          let $this = this
          let findData = {
            partialName: query
          }

          $this.isLoading = true

          API.makeAsyncCall(ProductAPI.findP, findData)
            .then(response => {
              let products = response
              $this.availableProds = []
              $.each(products, function (index, item) {
                $this.availableProds.push(item)
              })
              $this.isLoading = false
            })
            .catch(err => {
              console.log('Find material error', err)
              $this.isLoading = false
            })
        }
      },
      productSelected () {
        this.addedProduct()
      },
      clearAll () {
        this.$nextTick(() => {
          this.selectedProduct = null
        })
      },
      checkEditMode () {
        if (this.inEditMode) {
          this.selectedProduct = this.passedProduct
          this.availableProds = [this.passedProduct]
        }
      }
    },
    created () {
      this.checkEditMode()
    },
    watch: {
      resetProduct (reset) {
        if (reset) {
          console.log('reset received')
          this.clearAll()
          this.$emit('reseted', true)
        }
      },
      remove (reset) {
        if (reset) {
          this.$emit('removeMe')
        }
      }
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
  .multiselect__content-wrapper{
    z-index: 9999;
    display: block;
    position: absolute;
  }
</style>
