<template>
  <div>
    <!-- CLIENT NAME FIELD -->
    <b-form-fieldset>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true" :style="searchIcon"></i></span>
        <b-form-input v-model="query" type="text" ref="name" :placeholder="getPlaceholder"
                      @input="lazySearch" class="search-box-inventory" @focus.native="changeSearchGraphics(22, false)" @blur.native="changeSearchGraphics(16, true)"></b-form-input>
      </div>
    </b-form-fieldset>
    <!-- Error Side -->
    <!--<div class="input-group">-->
    <!--<input class="form-control is-invalid" type="hidden">-->
    <!--<div class="invalid-feedback" v-for="error in errorClient.name" style="margin-top: -15px; margin-left: auto">{{ error }}</div>-->
    <!--</div>-->
    <!-- END CLIENT NAME FIELD -->
  </div>
</template>

<script>
  export default {
    name: '',
    components: {

    },
    props: {
      searchUrl: {
        type: Object,
        required: true
      },
      page: {
        type: Number,
        default: 1
      },
      perPage: {
        type: Number,
        default: 100
      },
      placeholderText: {
        type: String,
        default: 'Find'
      },
      shouldRefresh: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      page () {
        this.search($this.query)
      },
      shouldRefresh (value) {
        if (value) {
          this.$emit('input', [])
          this.search(this.query)
        }
      }
    },
    data () {
      return {
        query: null,
        typing: null,
        searchIcon: {
          'font-size': '16px'
        },
        placeholder: true
      }
    },
    computed: {
      getPlaceholder () {
        return this.placeholder ? this.placeholderText : ''
      }
    },
    methods: {
      lazySearch (query) {
        let $this = this
        $this.query = query
        $this.$emit('isLoading', false)
        clearTimeout(this.typing)
        $this.typing = setTimeout(function () {
          $this.search(query)
        }, 1000)
      },
      search (query = '') {
        console.log('find')
        let $this = this
        let findData = {
          partialName: query,
          page: this.page,
          perPage: this.perPage
        }

        $this.$emit('isLoading', true)

        API.makeAsyncCall(this.getSearchUrl(query), findData)
          .then(response => {
            console.log(response)
            $this.$emit('isLoading', false)
            $this.$emit('input', response)
            $this.$emit('refreshed', true)
          })
          .catch(err => {
            console.log(err)
            $this.$emit('isLoading', false)
            $this.$emit('input', [])
          })
      },
      changeSearchGraphics (size, showPlaceholder) {
        this.placeholder = showPlaceholder
        this.searchIcon['font-size'] = size + 'px'
      },
      getSearchUrl (query) {
        return query !== '' ? this.searchUrl.specific : this.searchUrl.all
      }
    },
    mounted () {
      this.search()
    }
  }
</script>

<style lang="scss">
  $mainColor: #ffc107;

  .search-box-inventory{
    border: none;
    border-bottom: 2px solid $mainColor;
    color: $mainColor !important;

    &::placeholder{
      color: $mainColor;
    }

    &:focus{
      outline: none;
      box-shadow: none;
      border-color: $mainColor;
    }
  }
</style>

<style lang="scss" scoped>
  $mainColor: #ffc107;

  .input-group-addon{
    background: #ffffff;
    border: none;
    border-bottom: 2px solid $mainColor;
    color: $mainColor;
  }
</style>
