<template>
  <div>
    <b-card>
      <span style="font-size: 24px">{{ title }}</span>
      <table class="table table-striped">
        <loading-overlay :isVisible="isLoading"></loading-overlay>
        <thead>
        <th v-for="thead in theads">{{ thead }}</th>
        </thead>
        <tbody>
        <tr v-for="row in trows">
          <td>{{ row.id }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.address }}</td>
          <td>{{ row.phone }}</td>
          <td>{{ row.email }}</td>
        </tr>
        </tbody>
      </table>
    </b-card>
  </div>
</template>

<script>
  import ClientAPI from '@/api/ClientAPI'
  import LoadingOverlay from '@/components/LoadingOverlay'

  export default {
    name: 'client-create-table',
    components: {
      LoadingOverlay
    },
    props: {
      title: {
        type: String,
        default: 'Latest Created Clients'
      },
      theads: {
        type: Array
      },
      newClient: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        rows: [],
        isLoading: false
      }
    },
    computed: {
      trows () {
        return this.rows
      }
    },
    methods: {
      refreshCreateList () {
        let $this = this
        API.makeAsyncCall(ClientAPI.getCreated + '5', {}, 'GET')
          .then(response => {
            console.log(response)
            $this.rows = response
            $this.isLoading = false
          })
          .catch(err => {
            console.log(err)
            $this.isLoading = false
          })
      }
    },
    watch: {
      newClient (value) {
        if (value) {
          this.refreshCreateList()
        }
      }
    },
    mounted () {
      let $this = this
      $this.isLoading = true
      $this.refreshCreateList()
    },
    beforeDestroy () {
      axios.cancelAll('component destroyed')
    }
  }
</script>

<style>

</style>
