<template>
  <div>
    <div class="alert alert-success" role="alert" v-if="alerts.addSuccess">
      Successful adding material to inventory
    </div>
    <div class="form-add">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>
      <form id="add-material" @submit.prevent="addMaterial(material)">
        <add-material-inventory v-model="material" @reseted="resetMaterial = false" ref="id"
                                :reset="shouldReset">
        </add-material-inventory>
        <b-form-fieldset
          label="Date"
          :label-cols="3"
          :horizontal="true">
          <date-time-picker v-model="addDate"></date-time-picker>
        </b-form-fieldset>
        <div class="input-group">
          <input class="form-control is-invalid" type="hidden">
          <div class="invalid-feedback" v-for="error in errorsMaterial.addDate" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
        </div>
        <div slot="footer">
          <b-button type="submit" size="sm" variant="warning"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
          <b-button class="reset-btn" type="reset" @click="resetAll" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import AddMaterialInventory from '@/components/form/AddMaterialInventory'
  import DatetimePicker from '@/components/form/DatetimePicker'
  import DateTimePicker from '../form/DatetimePicker.vue'
  import MaterialAPI from '@/api/MaterialAPI'

  export default {
    components: {
      DateTimePicker,
      LoadingOverlay,
      DatetimePicker,
      AddMaterialInventory
    },
    name: 'add-material',
    data () {
      return {
        material: {
          id: null,
          quantity: null,
          um: null
        },
        addDate: null,
        resetMaterial: false,
        alerts: {
          addSuccess: false
        },
        errorsMaterial: {
          id: [],
          quantity: [],
          addDate: []
        },
        loading: false
      }
    },
    computed: {
      shouldReset () {
        return this.resetMaterial
      },
      isLoading () {
        return this.loading
      }
    },
    methods: {
      addMaterial (material) {
        this.loading = true
        this.clearErrorFields('errorMaterial')
        let $this = this
        $this.alerts.addSuccess = false
        let postData = {
          id: $this.material.id,
          quantity: $this.material.quantity,
          addDate: $this.addDate
        }

        API.makeAsyncCall(MaterialAPI.addMaterialToInventory, postData)
          .then(response => {
            console.log(response)
            $this.loading = false
            $this.material = {
              id: null,
              quantity: null,
              um: null,
              addDate: null
            }
            $this.$refs.id.$el.focus()
            $this.alerts.addSuccess = true
            $this.$emit('newMaterialAdded', response)
            $this.resetAll()
          })
          .catch(err => {
            console.log(err)
            $this.loading = false
            // $this.manageErrors(err.response.data, 'errorsMaterial')
            $this.$refs.id.$el.focus()
          })
      },
      clearErrorFields (errorField) {
        for (let key in this[errorField]) {
          this[errorField][key] = []
        }
      },
      manageErrors (data, errorFields) {
        for (let key in this[errorFields]) {
          this[errorFields][key] = []
          let errorMessage = data.error[key]
          if (errorMessage) {
            this.material[key] = null
            this[errorFields][key] = errorMessage
          }
        }
      },
      resetAll () {
        this.resetMaterial = true

        this.material = {
          id: null,
          quantity: null,
          um: null,
          addDate: null
        }
        $('#add-material')[0].reset()

        this.errors = {
          material: {
            id: [],
            quantity: []
          }
        }

        this.loading = false
      }
    }
  }
</script>

<style lang="scss">
  .quantity{

    &::placeholder{
      color: #999999;
    }
  }
</style>
