<template>
  <div>
    <div class="alert alert-success" role="alert" v-if="alerts.addSuccess">
      Successful adding product to inventory
    </div>
    <div class="form-add">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>
      <form id="add-product" @submit.prevent="addProduct(product)">
        <add-product-inventory ref="id" v-model="product" @changesMade="variationsQuantity = $event" :reset="shouldReset" @reseted="reseted"></add-product-inventory>
        <b-form-fieldset
          label="Date"
          :label-cols="3"
          :horizontal="true">
          <date-time-picker v-model="add_date"></date-time-picker>
        </b-form-fieldset>
        <div class="input-group">
          <input class="form-control is-invalid" type="hidden">
          <div class="invalid-feedback" v-for="error in errorsProduct.add_date" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
        </div>

        <div slot="footer">
          <b-button type="submit" size="sm" variant="warning"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
          <b-button class="reset-btn" type="reset" @click="resetAll" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import AddProductInventory from '@/components/form/AddProductInventory'
  import DatetimePicker from '@/components/form/DatetimePicker'
  import DateTimePicker from '../form/DatetimePicker.vue'
  import ProductAPI from '@/api/ProductAPI'

  export default {
    components: {
      AddProductInventory,
      DateTimePicker,
      LoadingOverlay,
      DatetimePicker
    },
    name: 'add-product',
    data () {
      return {
        product: {
          id: null,
          name: null,
          variations: [{
            materials: null,
            name: null
          }]
        },
        add_date: null,
        variationsQuantity: null,
        resetProduct: false,
        alerts: {
          addSuccess: false
        },
        errorsProduct: {
          id: [],
          quantity: [],
          add_date: []
        },
        loading: false
      }
    },
    computed: {
      shouldReset () {
        return this.resetProduct
      },
      isLoading () {
        return this.loading
      }
    },
    methods: {
      addProduct (product) {
        this.loading = true
        // this.clearErrorFields('errorsMaterial')
        let $this = this
        $this.alerts.addSuccess = false
        let postData = {
          product: this.product,
          add_date: this.add_date,
          quantities: this.variationsQuantity
        }

        console.log(postData)

        API.makeAsyncCall(ProductAPI.addToInventory, postData)
          .then(response => {
            console.log(response)
            $this.loading = false
            $this.$refs.id.$el.focus()
            $this.alerts.addSuccess = true
            $this.$emit('newProductAdded', response)
            $this.resetAll()
          })
          .catch(err => {
            console.log(err)
            $this.loading = false
            // $this.manageErrors(err.response.data, 'errorsProduct')
            $this.$refs.id.$el.focus()
          })
      },
      // clearErrorFields (errorField) {
      //   for (let key in this[errorField]) {
      //     this[errorField][key] = []
      //   }
      // },
      // manageErrors (data, errorFields) {
      //   for (let key in this[errorFields]) {
      //     this[errorFields][key] = []
      //     let errorMessage = data.error[key]
      //     if (errorMessage) {
      //       this.product[key] = null
      //       this[errorFields][key] = errorMessage
      //     }
      //   }
      // },
      resetAll () {
        this.product = {
          id: null,
          variations: [{
            materials: null,
            name: null,
            quantity: null
          }]
        }
        $('#add-product')[0].reset()

        this.resetProduct = true

        this.variationsQuantity = [ 0 ]

        // this.errorsProduct = {
        //   id: [],
        //   quantity: [],
        //   addDate: []
        // }

        this.loading = false
      },
      reseted () {
        this.resetProduct = false
        this.$emit('reseted', true)
      }
    }
  }
</script>

<style lang="scss">
  .quantity{

    &::placeholder{
      color: #999999;
    }
  }
</style>
