<template>
  <div>
    <div class="search-bar" style="max-width: 300px">
      <search-inventory v-model="results" :should-refresh="makeRefresh" @refreshed="doneRefreshingInventory"
                        :search-url="getSearchUrl" :placeholder-text="getPlaceholder"
                        @isLoading="loading = $event"></search-inventory>
    </div>
    <div class="search-results" style="position:relative; min-height: 60px">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>
      <div class="results-wrapper">
        <div v-for="(resultItem, index) in getResults">
          <div class="result">
            <div v-if="isMaterialSection" @loading="loading = $event" @doneLoading="refrehsInventoryList"
                 :is="'show-material-item'" :materialPassed="resultItem"></div>
            <div v-if="isProductSection" @loading="loading = $event" @doneLoading="refrehsInventoryList"
                 :is="'show-product-item'" :productPassed="returnResultItem(resultItem)"></div>
            <div v-if="isSaleSection" @loading="loading = $event" @doneLoading="refrehsInventoryList"
                 :is="'show-sale-item'" :salePassed="resultItem"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import SearchInventory from '@/components/form/SearchInventory'
  import ShowMaterialItem from '@/components/browse/ShowMaterialItem'
  import ShowProductItem from '@/components/browse/ShowProductItem'
  import ShowSaleItem from '@/components/browse/ShowSaleItem'
  import MaterialAPI from '@/api/MaterialAPI'
  import ProductAPI from '@/api/ProductAPI'
  import SaleAPI from '@/api/SaleAPI'

  export default {
    name: 'browse-inventory',
    components: {
      LoadingOverlay,
      SearchInventory,
      ShowMaterialItem,
      ShowProductItem,
      ShowSaleItem
    },
    props: {
      section: {
        type: String,
        default: 'Materials'
      }
    },
    data () {
      return {
        results: [],
        loading: false,
        shouldRefresh: false
      }
    },
    computed: {
      getSection () {
        return this.section
      },
      getResults () {
        return this.results
      },
      getSearchUrl () {
        switch (this.section) {
          case 'Materials':
            return {
              all: MaterialAPI.getAllMats,
              specific: MaterialAPI.findMaterial
            }
          case 'Products':
            return {
              all: ProductAPI.getAllProds,
              specific: ProductAPI.findP
            }
          case 'Sales':
            return {
              all: SaleAPI.getAllS,
              specific: SaleAPI.findByClient
            }
        }
      },
      getPlaceholder () {
        switch (this.section) {
          case 'Sales':
            return 'Find by client name'
          default:
            return 'Find'
        }
      },
      isMaterialSection () {
        return this.section === 'Materials'
      },
      isProductSection () {
        return this.section === 'Products'
      },
      isSaleSection () {
        return this.section === 'Sales'
      },
      isLoading () {
        return this.loading
      },
      makeRefresh () {
        return this.shouldRefresh
      }
    },
    methods: {
      returnResultItem (item) {
        return item
      },
      refrehsInventoryList () {
        this.shouldRefresh = true
      },
      doneRefreshingInventory () {
        this.shouldRefresh = false
        this.loading = false
      }
    }
  }
</script>

<style scoped lang="scss">

  .card-header{
    background: #ffc107;
    color: #ffffff !important;
  }

  .search-bar{
    margin-left: auto;
    margin-right: auto;
  }

  .results-wrapper{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }
</style>
