<template>
  <div class="" style="">
    <div class="alert alert-success" role="alert" v-if="alerts.createSuccess">
      Successful creating material
    </div>
    <div class="alert alert-danger" role="alert" v-if="alerts.editFail">
      Failed to edit material
    </div>

    <form @submit.prevent="createMaterial(material)">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>
      <b-form-fieldset
        label="Name"
        :label-cols="3"
        :horizontal="true">
        <b-form-input type="text" ref="name" :class="{ 'is-invalid': errorMaterial.name.length }" placeholder="Ex: bumbac rosu" v-model="material.name"></b-form-input>
      </b-form-fieldset>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorMaterial.name" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
      <b-form-fieldset
        label="Unit of measurement"
        :label-cols="6"
        :horizontal="true">
        <b-form-select
          :plain="true"
          :options="units"
          :class="{ 'is-invalid': errorMaterial.um.length }"
          v-model="material.um">
        </b-form-select>
      </b-form-fieldset>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorMaterial.um" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>

      <b-form-fieldset v-if="material.um == 'm2' || material.um == 'cm2'"
        label="Stable subunit"
        :label-cols="6"
        :horizontal="true">
        <div class="input-group">
          <b-form-input type="text" ref="name" :class="{ 'is-invalid': errorMaterial.stableum.length }" placeholder="Enter an amount here" v-model="material.stableum"></b-form-input>
          <span class="input-group-addon" v-if="material.um == 'm2'">m</span>
          <span class="input-group-addon" v-if="material.um == 'cm2'">cm</span>
        </div>
      </b-form-fieldset>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorMaterial.stableum" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>

      <div slot="footer">
        <b-button type="submit" size="sm" variant="warning"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button v-if="!inEditMode" type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
      </div>
    </form>
  </div>
</template>

<script>
  import MaterialAPI from '@/api/MaterialAPI'
  import LoadingOverlay from '@/components/LoadingOverlay'

  export default {
    name: 'create-material',
    components: {
      LoadingOverlay
    },
    props: {
      editMaterial: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        material: {
          name: null,
          um: null,
          stableum: null
        },
        materialInventory: {
          id: null,
          quantity: null,
          addTime: null,
          inventory: 0
        },
        units: ['cm', 'm', 'cm2', 'm2', 'g', 'kg'],
        alerts: {
          createSuccess: false,
          createFail: false,
          editFail: false
        },
        errorMaterial: {
          name: [],
          um: [],
          stableum: []
        },
        errorMaterialInventory: {
          id: [],
          quantity: [],
          addTime: []
        },
        loading: false
      }
    },
    computed: {
      isLoading () {
        return this.loading
      },
      createSuccess () {
        return this.alerts.createSuccess
      },
      inEditMode () {
        return this.editMaterial
      }
    },
    methods: {
      createMaterial (material) {
        this.clearErrorFields('errorMaterial')
        this.loading = true
        let $this = this
        $this.alerts.editFail = false

        if (this.editMaterial) {
          API.makeAsyncCall(MaterialAPI.editM, material, 'PATCH')
            .then(response => {
              $this.loading = false
              $this.$emit('succesfulEdited', response)
            })
            .catch(err => {
              $this.loading = false
              $this.alerts.editFail = true
              $this.$emit('succesfulEdited', false)
              console.log(err)
            })
        } else {
          API.makeAsyncCall(MaterialAPI.createMaterial, material)
            .then(response => {
              console.log(response)
              $this.loading = false
              $this.alerts.createSuccess = true
              $this.material.name = null
              $this.material.um = 'm2'
              $this.material.stableum = null
              $this.$refs.name.$el.focus()
              response = Object.assign(response, {inventory: 0.00})
              $this.$emit('newMaterialCreated', response)
            })
            .catch(error => {
              $this.loading = false
              console.log(error.response)
              let data = error.response.data
              this.manageErrors(data, 'errorMaterial')
            })
        }
      },
      clearErrorFields (errorField) {
        for (let key in this[errorField]) {
          this[errorField][key] = []
        }
      },
      manageErrors (data, errorFields) {
        for (let key in this[errorFields]) {
          this[errorFields][key] = []
          let errorMessage = data.error[key]
          if (errorMessage) {
            this[errorFields][key] = errorMessage
          }
        }
      }
    },
    mounted () {
      this.material.um = 'm2'
      if (this.editMaterial) {
        this.material = this.editMaterial
      }
    }
  }
</script>

<style lang="scss">
  input{
    &::placeholder{
      color: #999999;
    }

    &:focus{
      border-color: #ffc107 !important;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25) !important;
      box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25);
    }
  }

  select{
    &:focus{
      border-color: #ffc107 !important;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25) !important;
      box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25);
    }
  }

  button[type=submit]{
    color: #ffffff;

    &:hover{
      color: #ffffff;
    }
  }

  .card-header{
    background: #ffc107;
    color: #ffffff !important;
  }
</style>
