<template>
  <div class="" style="">
    <div class="alert alert-success" role="alert" v-if="getCreateSuccess">
      Successful creating product
    </div>
    <div class="alert alert-danger" role="alert" v-if="alerts.editFail">
      Failed to edit product
    </div>
    <form id="create-prod" @submit.prevent="createProduct(product)">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>
      <!-- PRODUCT NAME FIELD -->
      <b-form-fieldset
        label="Name"
        :label-cols="3"
        :horizontal="true"
        :breakpoint="'xs'">
        <b-form-input type="text" ref="name" :class="{ 'is-invalid': errorProduct.name.length }" placeholder="Ex: bumbac" v-model="product.name"></b-form-input>
      </b-form-fieldset>
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorProduct.name" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
      <!-- END PRODUCT NAME FIELD -->
      <!--<add-material-dynamic v-model="product.materials" :resetMaterial="shouldReset" @reseted="doMaterialsReset"></add-material-dynamic>-->
      <product-variations v-model="product.variations" :edit-mode="inEditMode" :edit-variations="getVariations"
                          :reset="shouldReset" @reseted="doMaterialsReset"></product-variations>
      <div slot="footer">
        <b-button type="submit" size="md" variant="warning"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button v-if="!inEditMode" class="reset-btn" type="reset" @click="resetAll" size="md" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
        <b-button type="button" size="md" variant="primary" @click="cancelEdit">Cancel</b-button>
      </div>
    </form>
  </div>
</template>

<script>
  import DatetimePicker from '@/components/form/DatetimePicker'
  import DateTimePicker from '../form/DatetimePicker.vue'
  import LoadingOverlay from '@/components/LoadingOverlay'
  import AddMaterialDynamic from '@/components/form/AddMaterialDynamic'
  import ProductVariations from '@/components/form/ProductVariations'
  import ProductAPI from '@/api/ProductAPI'
  export default {
    name: 'create-product',
    components: {
      LoadingOverlay,
      AddMaterialDynamic,
      DateTimePicker,
      DatetimePicker,
      ProductVariations
    },
    props: {
      name: null,
      passedProduct: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        product: {
          variations: [],
          name: null
        },
        originalProduct: null,
        errorProduct: {
          name: [],
          products: []
        },
        alerts: {
          createSuccess: false,
          editFail: false
        },
        resetMaterials: false,
        loading: false
      }
    },
    computed: {
      isLoading () {
        return this.loading
      },
      getCreateSuccess () {
        return this.alerts.createSuccess
      },
      shouldReset () {
        return this.resetMaterials
      },
      inEditMode () {
        return !!this.passedProduct
      },
      getVariations () {
        console.log(this.product.variations)
        return this.product.variations
      }
    },
    methods: {
      cancelEdit () {
        this.$emit('cancel', true)
      },
      createProduct (product) {
        // this.clearErrorFields('errorProduct')
        this.loading = true
        let $this = this
        $this.alerts.createSuccess = false
        $this.alerts.editFail = false

        let createData = this.product

        console.log('PRODUCT INFO', createData)

        if (this.passedProduct) {
          API.makeAsyncCall(ProductAPI.editP, $this.product)
            .then(response => {
              $this.loading = false
              $this.$emit('succesfulEdited', response)
            })
            .catch(err => {
              $this.loading = false
              $this.alerts.editFail = true
              $this.$emit('succesfulEdited', false)
              console.log(err)
            })
        } else {
          API.makeAsyncCall(ProductAPI.createP, createData)
            .then(response => {
              console.log(response)
              $this.alerts.createSuccess = true
              $this.$refs.name.$el.focus()
              $this.loading = false
              $this.$emit('newProductCreated', response)
              $this.resetAll()
            })
            .catch(err => {
              console.log(err)
              $this.loading = false
            })
        }
        console.log(createData)
      },

      clearErrorFields (errorField) {
        for (let key in this[errorField]) {
          this[errorField][key] = []
        }
      },

      manageErrors (data, errorFields) {
        for (let key in this[errorFields]) {
          this[errorFields][key] = []
          let errorMessage = data.error[key]
          if (errorMessage) {
            this[errorFields][key] = errorMessage
          }
        }
      },
      doMaterialsReset () {
        this.resetMaterials = false
      },
      resetAll () {
        $('#create-prod')[0].reset()
        this.loading = false
        this.product = {
          name: null,
          materials: []
        }
        this.errorProduct = {
          name: [],
          products: []
        }
        this.resetMaterials = true
      }
    },
    created () {
      if (this.passedProduct) {
        this.product = this.passedProduct
      }
    }
  }
</script>

<style>

</style>
