<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5 col-xl-4">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>
                <form @submit.prevent="login(user)">
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="email" :class="{ 'is-invalid': errors.username.length }" class="form-control" placeholder="Username" v-model="user.username">
                  </div>
                  <div class="input-group">
                    <input class="form-control is-invalid" type="hidden">
                    <div class="invalid-feedback" v-for="error in errors.username" style="margin-top: -15px; float: right">{{ error }}</div>
                  </div>
                  <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input type="password":class="{ 'is-invalid': errors.password.length }" class="form-control" placeholder="Password" v-model="user.password">
                  </div>
                  <div class="input-group">
                    <input class="form-control is-invalid" type="hidden">
                    <div class="invalid-feedback" v-for="error in errors.password" style="margin-top: -20px">{{ error }}</div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-login btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <!--<button type="button" class="btn btn-link px-0">Forgot password?</button>-->
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">-->
            <!--<div class="card-body text-center">-->
            <!--<div>-->
            <!--<h2>Sign up</h2>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
            <!--<button type="button" class="btn btn-primary active mt-3">Register Now!</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data () {
      return {
        user: {
          username: null,
          password: null
        },
        errors: {
          username: [],
          password: []
        }
      }
    },
    methods: {
      login (user) {
        $('.btn-login').prop('disabled', true)
        Store.dispatch('login', user)
          .then(response => {
            $('.btn-login').prop('disabled', false)
          })
          .catch(error => {
            console.log('Response error', error)
            let data = error
            for (let key in this.errors) {
              this.errors[key] = []
              let errorMessage = data.error[key]
              if (errorMessage) {
                this.errors[key] = errorMessage
              }
            }
            $('.btn-login').prop('disabled', false)
          })
      }
    },
    mounted () {
      console.log(Store.getters.currentUser)
      console.log(Store.getters.tokens)

      if (!Store.getters.tokens.refresh_token && this.$route.name !== 'Login') {
        this.$router.push('/login')
      } else {
        Store.dispatch('checkTokenValidity')
          .then(response => {
            // console.log("Response checktoken success", response)
          })
          .catch(error => {
            console.log('Response logout error', error)
          })
      }
    }
  }
</script>

<style>
  .invalid-feedback{
    margin-left: auto;
  }
</style>
