<template>
  <div class="animated fadeIn">
    <div class="container-fluid" style="">
      Inventory
    </div>
  </div>
</template>

<script>
  export default {
    name: 'inventory',
    components: {
    }
  }
</script>

<style scoped>
  .card-body{
    display: flex;
    align-items: center;
  }

  .btn-lg{
    min-width: 110px;
  }
</style>
