<template>
  <footer class="app-footer">
    <span><a href="https://cloud-us.eu">CLOUDUS</a> &copy; 2017 Cloudus.</span>
    <span class="ml-auto">Powered by <a href="https://bitbucket.org/mauveine/">Mauveine</a></span>
  </footer>
</template>
<script>
  export default {
    name: 'footer'
  }
</script>
