<template>
    <b-nav-item-dropdown right no-caret>
        <template slot="button-content">
            <span class="admin-name"> {{ admin.name }} <i class="fa fa-anchor"></i></span>
        </template>
        <b-dropdown-header tag="div" class="text-center"><strong>Account</strong></b-dropdown-header>
        <!--<b-dropdown-item><i class="fa fa-bell-o"></i> Updates<b-badge variant="info">{{itemsCount}}</b-badge></b-dropdown-item>-->
        <!--<b-dropdown-item><i class="fa fa-envelope-o"></i> Messages<b-badge variant="success">{{itemsCount}}</b-badge></b-dropdown-item>-->
        <!--<b-dropdown-item><i class="fa fa-tasks"></i> Tasks<b-badge variant="danger">{{itemsCount}}</b-badge></b-dropdown-item>-->
        <!--<b-dropdown-item><i class="fa fa-comments"></i> Comments<b-badge variant="warning">{{itemsCount}}</b-badge></b-dropdown-item>-->
        <!--<b-dropdown-header tag="div" class="text-center"><strong>Settings</strong></b-dropdown-header>-->
        <b-dropdown-item><i class="fa fa-user"></i> Profile</b-dropdown-item>
        <!--<b-dropdown-item><i class="fa fa-wrench"></i> Settings</b-dropdown-item>-->
        <!--<b-dropdown-item><i class="fa fa-usd"></i> Payments<b-badge variant="default">{{itemsCount}}</b-badge></b-dropdown-item>-->
        <!--<b-dropdown-item><i class="fa fa-file"></i> Projects<b-badge variant="primary">{{itemsCount}}</b-badge></b-dropdown-item>-->
        <!--<b-dropdown-divider></b-dropdown-divider>-->
        <!--<b-dropdown-item><i class="fa fa-shield"></i> Lock Account</b-dropdown-item>-->
        <b-dropdown-item @click="logoutDispatch" style="cursor: pointer"><a><i class="fa fa-lock"></i> Logout</a></b-dropdown-item>
    </b-nav-item-dropdown>
</template>
<script>
  export default {
    name: 'header-dropdown',
    data: () => {
      return {
        itemsCount: 42
      }
    },
    computed: {
      admin () {
        return Store.getters.currentUser
      }
    },
    methods: {
      logoutDispatch () {
        Store.dispatch('logout')
          .then(response => {

          })
          .catch(error => {
            console.log('Response logout error', error)
          })
      }
    }
  }
</script>

<style>
    .admin-name{
        font-size: 18px;
        font-weight: 600;
    }
</style>
