<template>
  <div class="loading d-flex align-items-center" v-if="isVisible">
    <div class="spinner-container ml-auto mr-auto" :style="customStyles">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'loading-overlay',
    components: {},
    props: {
      isVisible: {
        type: Boolean,
        default: false
      },
      loadingSize: {
        type: String,
        default: '3rem'
      }
    },
    data () {
      return {

      }
    },
    computed: {
      customStyles () {
        return {
          'font-size': this.loadingSize
        }
      }
    }
  }
</script>

<style lang="scss">
  .loading{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.5);
    z-index: 600;
    top: 0;
    left: 0;

    .spinner-container{
      color: #ffc107;
    }
  }
</style>
