<template>
  <div class="item-zone row">
    <div class="col-12 col-sm-5">
      <i class="fa fa-tag" aria-hidden="true"></i> <span class="name">{{ material.name }}</span>
    </div>
    <div class="col-12 col-sm-5">
      <i :class="{ 'not-enough': material.inventory < 0, 'empty' : material.inventory === 0, 'enough' : material.inventory > 0 }" class="fa fa-archive" aria-hidden="true"></i> Inventory: <span class="inventory">{{ material.inventory }}</span> <span class="um">{{ material.um }}</span>
      <i v-if="material.inventory < 0" class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered"></i>
      <span v-if="material.stableum" class="stableum"><br>
        Stable unit: {{ material.stableum }} <span v-if="material.um === 'cm2'">cm</span> <span v-else>m</span>
      </span>
    </div>
    <div class="col-12 col-sm-2">
      <b-button class="w-100" :size="'sm'" :variant="'warning'" style="color: white; margin-bottom: 3px" @click="editMaterial"><i class="fa fa-pencil" aria-hidden="true" style="color: white"></i> EDIT</b-button>
      <b-button class="w-100" :size="'sm'" :variant="'danger'" style="color: white" @click="deleteMaterial"><i class="fa fa-trash" aria-hidden="true" style="color: white"></i> DEL</b-button>
    </div>
    <div class="col-12">
      <div class="row" v-if="ifShowEditForm">
        <create-material class="ml-auto mr-auto"
                         :edit-material="getMaterial"
                         @succesfulEdited="doneEditing($event)">
        </create-material>
      </div>
    </div>
  </div>
</template>

<script>
  import CreateMaterial from '@/components/inventory/CreateMaterial'
  import MaterialAPI from '@/api/MaterialAPI'

  export default {
    name: 'show-material-item',
    components: {
      CreateMaterial
    },
    props: {
      materialPassed: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        material: {
          id: null,
          inventory: null,
          name: null,
          stableum: null,
          um: null
        },
        showEdit: false
      }
    },
    computed: {
      ifShowEditForm () {
        return this.showEdit
      },
      getMaterial () {
        return this.material
      }
    },
    methods: {
      editMaterial () {
        this.showEdit = !this.showEdit
      },
      doneEditing (value) {
        if (value) {
          this.material = value
          this.emitDone()
        }
      },
      deleteMaterial () {
        let deleteConf = confirm('Are you sure you want to delete this?')
        if (deleteConf === true) {
          this.emitLoading()
          let $this = this

          API.makeAsyncCall(MaterialAPI.trashM, this.material, 'DELETE')
            .then(response => {
              if (response.deleted) {
                $this.emitDone()
              }
            })
            .catch(err => {
              console.log(err)
            })
        }
      },
      emitLoading () {
        this.$emit('loading', true)
      },
      emitDone () {
        this.$emit('doneLoading', true)
      }
    },
    mounted () {
      this.material = this.materialPassed
    },
    watch: {
      materialPassed (value) {
        this.material = value
      }
    }
  }
</script>

<style lang="scss">
  .item-zone{
    background: #ffffff;
    margin-bottom: 5px;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    -moz-box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    min-height: 50px;
    padding: 15px;

    .name{
      font-size: 18px;
      font-weight: 600;
    }

    .not-enough{
      color: orangered;
    }

    .empty{
      color: orange;
    }

    .enough{
      color: forestgreen;
    }

    .inventory{
      font-weight: 600;
    }
  }
</style>
