<template>
  <div>
    <div class="item-zone row">
      <div class="col-12 col-sm-4">
        <i class="fa fa-tag" aria-hidden="true"></i> <span class="name">{{ product.name }}</span>
      </div>
      <div class="col-12 col-sm-6">
        <span style="font-size: 16px; font-weight: 600">Variations: </span>
        <div class="variations" style="padding-left: 10px">
          <div class="row variation" v-for="(variation, index) in getVariations">
            <div class="col-5">
              <span style="margin-right: 15px"><i class="fa fa-tag" aria-hidden="true" style="color: #007ee5"></i> {{ variation.name }}</span>
            </div>
            <div class="col-7">
              <i :class="{ 'not-enough': variation.inventory < 0, 'empty' : variation.inventory === 0, 'enough' : variation.inventory > 0 }" class="fa fa-archive" aria-hidden="true"></i> Inventory: <span class="inventory">{{ variation.inventory }}</span>
              <i v-if="variation.inventory < 0" class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <b-button class="w-100" :size="'sm'" :variant="'warning'" style="color: white; margin-bottom: 3px" @click="editProduct"><i class="fa fa-pencil" aria-hidden="true" style="color: white"></i> EDIT</b-button>
        <b-button class="w-100" :size="'sm'" :variant="'danger'" style="color: white" @click="deleteProduct"><i class="fa fa-trash" aria-hidden="true" style="color: white"></i> DEL</b-button>
      </div>
      <div class="col-12">
        <div class="row" v-if="ifShowEditForm">
          <create-product class="ml-auto mr-auto" :passedProduct="product" @cancel="cancelsEditView"
                           @succesfulEdited="doneEditing($event)">
          </create-product>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CreateProduct from '@/components/inventory/CreateProduct'
  import ProductAPI from '@/api/ProductAPI'

  export default {
    name: '',
    components: {
      CreateProduct
    },
    props: {
      productPassed: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        product: {
          name: null,
          variations: [
            {
              inventory: null,
              name: null
            }
          ]
        },
        original: null,
        showEdit: false
      }
    },
    computed: {
      ifShowEditForm () {
        return this.showEdit
      },
      cancelEditView () {
        this.showEdit = false
        console.log(this.original)
        return this.original
      },
      getVariations () {
        return this.product.variations
      }
    },
    methods: {
      cancelsEditView () {
        this.product = this.cancelEditView
      },
      editProduct () {
        console.log(this.getProduct)
        this.showEdit = !this.showEdit
      },
      doneEditing (value) {
        if (value) {
          // this.product = value
          this.emitDone()
        }
      },
      deleteProduct () {
        let deleteConf = confirm('Are you sure you want to delete this?')
        if (deleteConf === true) {
          this.emitLoading()
          let $this = this

          API.makeAsyncCall(ProductAPI.trashP, $this.product, 'DELETE')
            .then(response => {
              console.log(response)
              this.$emit('doneLoading', true)
            })
            .catch(err => {
              console.log(err)
            })
        }
      },
      emitLoading () {
        this.$emit('loading', true)
      },
      emitDone () {
        this.$emit('doneLoading', true)
      }
    },
    watch: {
      productPassed (value) {
        if (value) {
          console.log(value)
          // this.product = value
        }
      },
      original (value) {
        console.log('watcher', value)
      },
      product (value) {
        console.log('watcher product', value)
      }
    },
    mounted () {
      if (this.productPassed) {
        console.log(this.productPassed)
        this.original = this.productPassed
        console.log(this.original)
        this.product = this.productPassed
      }
    }
  }
</script>

<style lang="scss">
  .item-zone{
    background: #ffffff;
    margin-bottom: 5px;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    -moz-box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    min-height: 50px;
    padding: 15px;

    .name{
      font-size: 18px;
      font-weight: 600;
    }

    .not-enough{
      color: orangered;
    }

    .empty{
      color: orange;
    }

    .enough{
      color: forestgreen;
    }

    .inventory{
      font-weight: 600;
    }
  }
</style>
