<template>
  <div>
    <div class="item-zone row">
      <div class="col-12 col-sm-5">
        <i class="fa fa-tag" aria-hidden="true"></i> <span class="name">{{ sale.client.name }}</span><br>
        <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="sub-name">{{ sale.client.address }}</span><br>
        <span v-if="sale.client.phone"><i class="fa fa-phone" aria-hidden="true"></i> <span class="sub-name">{{ sale.client.phone }}</span></span><br>
        <span v-if="sale.client.email"><i class="fa fa-envelope" aria-hidden="true"></i>" <span class="sub-name">{{ sale.client.email }}</span></span><br>
      </div>
      <div class="col-12 col-sm-5">
        <span style="font-size: 15px; font-weight: 500">Items: </span>
        <div class="variations" style="padding-left: 10px">
          <div class="row variation" v-for="(item, index) in getItems">
            <div class="col-8">
              <span v-if="item.material" style="margin-right: 15px"><i class="fa fa-tag" aria-hidden="true" style="color: #007ee5"></i> {{ item.material.name }}</span>
              <span v-if="item.product" style="margin-right: 15px"><i class="fa fa-tag" aria-hidden="true" style="color: #007ee5"></i> {{ item.product.name }}</span>
            </div>
            <div class="col-4">
              <i class="fa fa-shopping-cart" aria-hidden="true" style="color: forestgreen"></i> {{ item.quantity }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <b-button class="w-100" :size="'sm'" :variant="'warning'" style="color: white; margin-bottom: 3px" @click="editSale"><i class="fa fa-pencil" aria-hidden="true" style="color: white"></i> EDIT</b-button>
        <b-button class="w-100" :size="'sm'" :variant="'danger'" style="color: white" @click="deleteSale"><i class="fa fa-trash" aria-hidden="true" style="color: white"></i> DEL</b-button>
      </div>
      <div class="col-12">
        <div class="row" v-if="ifShowEditForm">
          <make-sale class="ml-auto mr-auto" :passed-sale="sale" @cancel="cancelsEditView"
                          @succesfulEdited="doneEditing($event)">
          </make-sale>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MakeSale from '@/components/sales/MakeSale'

  export default {
    name: 'show-sale-item',
    components: {
      MakeSale
    },
    props: {
      salePassed: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        sale: {
          client: {
            id: null,
            address: null,
            email: null,
            name: null,
            notes: null,
            phone: null
          },
          sale_items: [
            {
              material: null,
              product: null,
              quantity: null
            }
          ]
        },
        showEdit: false
      }
    },
    computed: {
      ifShowEditForm () {
        return this.showEdit
      },
      getItems () {
        return this.sale.items
      },
      cancelEditView () {
        this.showEdit = false
        return this.sale
      }
    },
    methods: {
      cancelsEditView () {
        this.items = this.cancelEditView
      },
      editSale () {
        console.log(this.getProduct)
        this.showEdit = !this.showEdit
      },
      doneEditing (value) {
        if (value) {
          // this.product = value
          this.emitDone()
        }
      },
      deleteSale () {
        let deleteConf = confirm('Are you sure you want to delete this?')
        if (deleteConf === true) {
          this.emitLoading()
          let $this = this

          API.makeAsyncCall(SaleAPI.trashP, $this.sale, 'DELETE')
            .then(response => {
              console.log(response)
              this.$emit('doneLoading', true)
            })
            .catch(err => {
              console.log(err)
            })
        }
      },
      emitLoading () {
        this.$emit('loading', true)
      },
      emitDone () {
        this.$emit('doneLoading', true)
      }
    },
    mounted () {
      if (this.salePassed) {
        this.sale = this.salePassed
      }
    }
  }
</script>

<style lang="scss">
  .item-zone{
    background: #ffffff;
    margin-bottom: 5px;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    -moz-box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    box-shadow: 10px 10px 20px 0 rgba(221,221,221,1);
    min-height: 50px;
    padding: 15px;

    .name{
      font-size: 15px;
      font-weight: 600;
      color: #3b5998;
    }

    .sub-name{
      font-size: 14px;
      font-weight: 300;
    }

    .not-enough{
      color: orangered;
    }

    .empty{
      color: orange;
    }

    .enough{
      color: forestgreen;
    }

    .inventory{
      font-weight: 600;
    }
  }
</style>

