<template>
  <div class="animated fadeIn">
    <div class="row flex-column" style="">
      <loading-overlay :isVisible="isLoading"></loading-overlay>
      <b-card style="max-width: 600px; margin-left: auto; margin-right: auto">
        <div class="button-list">
          <b-button variant="outline-warning" class="browse-btn btns" :pressed="showBrowse" @click="showBrowseView; toggleActiveClass">BROWSE</b-button>
          <b-button variant="outline-warning" class="create-btn btns" :pressed="showCreate" @click="showCreateView; toggleActiveClass">CREATE</b-button>
          <b-button variant="outline-warning" class="add-btn btns" :pressed="showAdd" @click="showAddView; toggleActiveClass">ADD TO INVENTORY</b-button>
        </div>
      </b-card>

      <div class="create-card" v-if="showCreate" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto">
        <b-card>
          <div slot="header" class="header-card">
            <strong>CREATE MATERIAL</strong>
          </div>
          <div class="create-form" style="position:relative;">
            <create-material @newMaterialCreated="newMaterial = $event"></create-material>
          </div>
        </b-card>
      </div>

      <div class="create-card" v-if="showAdd" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto">
        <b-card>
          <div slot="header">
            <strong>ADD MATERIAL TO INVENTORY</strong>
          </div>
          <div class="add-form" style="width: 100%">
            <add-material @newMaterialAdded="newMaterialAdded = $event"></add-material>
          </div>
        </b-card>
      </div>

      <div v-if="showAdd">
        <material-table :theads="theads" :new-material-added="newMaterialAdded"></material-table>
      </div>

      <div v-if="showCreate">
        <material-create-table :theads="theadsCreate" :new-material="newMaterial"></material-create-table>
      </div>

      <div v-if="showBrowse">
        <browse-inventory :section="'Materials'"></browse-inventory>
      </div>

    </div>
  </div>
</template>

<script>
  import CreateMaterial from '@/components/inventory/CreateMaterial'
  import AddMaterial from '@/components/inventory/AddMaterial'
  import MaterialTable from '@/components/tables/MaterialTable'
  import MaterialCreateTable from '@/components/tables/MaterialCreateTable'
  import LoadingOverlay from '@/components/LoadingOverlay'
  import BrowseInventory from '@/components/inventory/BrowseInventory'

  export default {
    name: 'materials',
    components: {
      CreateMaterial,
      AddMaterial,
      MaterialTable,
      MaterialCreateTable,
      LoadingOverlay,
      BrowseInventory
    },
    data () {
      return {
        showCreate: false,
        showAdd: false,
        showBrowse: true,
        newMaterial: null,
        newMaterialAdded: null
      }
    },
    computed: {
      showCreateView () {
        this.showCreate = !this.showCreate
        this.showAdd = false
        this.showBrowse = false
      },
      showAddView () {
        this.showAdd = !this.showAdd
        this.showCreate = false
        this.showBrowse = false
      },
      showBrowseView () {
        this.showBrowse = true
        this.showAdd = false
        this.showCreate = false
        console.log(this.showCreate)
        console.log(this.showAdd)
        console.log(this.showBrowse)
      },
      theads () {
        return ['Id', 'Material', 'Quantity', 'After Transaction']
      },
      theadsCreate () {
        return ['Id', 'Name', 'U.M.', 'In Inventory']
      },
      isLoading () {
        return Store.getters.axiosCalls.refreshingToken
      }
    },
    methods: {
      toggleActiveClass (e) {
      }
    }
  }
</script>

<style scoped>
  .card-body{
    display: flex;
    align-items: center;
  }

  .btn-lg{
    min-width: 110px;
  }

  .button-list{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .button-list button{
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .create-form{
    margin-left: auto;
    margin-right: auto;
  }
</style>
