<template>
  <div class="animated fadeIn">
    <div class="row flex-column" style="">
      <loading-overlay :isVisible="isLoading"></loading-overlay>
      <b-card style="max-width: 400px; margin-left: auto; margin-right: auto">
        <div class="button-list">
          <b-button variant="outline-warning" class="browse-btn btns" :pressed="showBrowse" @click="showBrowseView; showBrowse=!showBrowse; showCreate = false; showAdd = false; toggleActiveClass">BROWSE</b-button>
          <b-button variant="outline-warning" class="create-btn btns" :pressed="showCreate" @click="showCreateView; showCreate = true; showAdd = false; showBrowse = false; toggleActiveClass">CREATE</b-button>
          <b-button variant="outline-warning" class="add-btn btns" :pressed="showAdd" @click="showAddView; showAdd = true; showBrowse = false; showCreate = false; toggleActiveClass">ADD TO INVENTORY</b-button>
        </div>
      </b-card>

      <div class="create-card" v-if="showCreate" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto">
        <b-card>
          <div slot="header" class="header-card">
            <strong>CREATE PRODUCT</strong>
          </div>
          <div class="create-form" style="position:relative;">
            <!-- TODO: create material form -->
            <create-product @newProductCreated="newProduct = $event"></create-product>
          </div>
        </b-card>
      </div>

      <div class="create-card" v-if="showAdd" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto">
        <b-card>
          <div slot="header">
            <strong>ADD PRODUCT TO INVENTORY</strong>
          </div>
          <div class="add-form" style="width: 100%">
            <!-- TODO: add material form -->
            <add-product @newProductAdded="newProductAdded = $event"></add-product>
          </div>
        </b-card>
      </div>

      <!--<div v-if="showAdd">-->
        <!--&lt;!&ndash;<material-table :theads="theads" :new-material-added="newMaterialAdded"></material-table>&ndash;&gt;-->
        <!--<product-transaction-table :theads="theads" :new-product-added="newProductAdded" ></product-transaction-table>-->
      <!--</div>-->

      <!--<div v-if="showCreate">-->
        <!--&lt;!&ndash;<material-create-table :theads="theadsCreate" :new-material="newMaterial"></material-create-table>&ndash;&gt;-->
        <!--<product-create-table :theads="theadsCreate" :new-product="newProduct"></product-create-table>-->
      <!--</div>-->

      <div v-if="showBrowse">
        <browse-inventory :section="'Products'"></browse-inventory>
      </div>

    </div>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import CreateProduct from '@/components/inventory/CreateProduct'
  import AddProduct from '@/components/inventory/AddProduct'
  import ProductTransactionTable from '@/components/tables/ProductTransactionTable'
  import ProductCreateTable from '@/components/tables/ProductCreateTable'
  import BrowseInventory from '@/components/inventory/BrowseInventory'

  export default {
    name: 'products',
    components: {
      LoadingOverlay,
      CreateProduct,
      AddProduct,
      ProductTransactionTable,
      ProductCreateTable,
      BrowseInventory
    },
    data () {
      return {
        showCreate: false,
        showAdd: false,
        showBrowse: true,
        newProduct: null,
        newProductAdded: null
      }
    },
    computed: {
      theads () {
        return ['Id', 'Material', 'Quantity', 'After Transaction', 'Added Time']
      },
      theadsCreate () {
        return ['Id', 'Name', 'In Inventory']
      },
      isLoading () {
        return Store.getters.axiosCalls.refreshingToken
      }
    },
    methods: {
      toggleActiveClass (e) {

      }
    }
  }
</script>

<style scoped>
  .card-body{
    display: flex;
    align-items: center;
  }

  .btn-lg{
    min-width: 110px;
  }

  .button-list{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .button-list button{
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .create-form{
    margin-left: auto;
    margin-right: auto;
  }
</style>
<style lang="scss">
  input{
    &::placeholder{
      color: #999999;
    }

    &:focus{
      border-color: #ffc107 !important;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25) !important;
      box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25);
    }
  }

  select{
    &:focus{
      border-color: #ffc107 !important;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25) !important;
      box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25);
    }
  }

  button[type=submit]{
    color: #ffffff;

    &:hover{
      color: #ffffff;
    }
  }

  .card-header{
    background: #ffc107;
    color: #ffffff !important;
  }
</style>
