<template>
  <div class="animated fadeIn">
    <div class="row flex-column" style="">
      <loading-overlay :isVisible="isLoading"></loading-overlay>
      <b-card style="max-width: 400px; margin-left: auto; margin-right: auto">
        <div class="button-list">
          <b-button variant="outline-warning" class="add-btn btns" :pressed="toggleSaleView" @click="showMakeSale = true; showBrowse = false; toggleActiveClass">MAKE SALE</b-button>
          <!--<b-button variant="outline-warning" class="create-btn btns" :pressed="showCreateClient" @click="showClientView; toggleActiveClass">CREATE CLIENT</b-button>-->
          <b-button variant="outline-warning" class="browse-btn btns" :pressed="toggleBrowse" @click="showMakeSale = false; showBrowse = true; toggleActiveClass">BROWSE</b-button>
        </div>
      </b-card>

      <div class="create-card" v-show="showCreateClient" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto">
        <b-card>
          <div slot="header" class="header-card">
            <strong>Add a new client</strong>
          </div>
          <div class="create-form" style="position:relative;">
            <!-- TODO: create client form -->
            <create-client @newClientCreated="newClient = $event"></create-client>
          </div>
        </b-card>
      </div>

      <div class="create-card" v-show="showMakeSale" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto">
        <b-card>
          <div slot="header">
            <strong>Create a new sale</strong>
          </div>
          <div class="make-sale-form" style="width: 100%">
            <!-- TODO: make sale form -->
            <!--<add-product @newProductAdded="newProductAdded = $event"></add-product>-->
            <make-sale @newSaleMade="newSale = $event"></make-sale>
          </div>
        </b-card>
      </div>

      <div v-if="showCreateClient">
        <!--<material-create-table :theads="theadsCreate" :new-material="newMaterial"></material-create-table>-->
        <client-create-table :theads="tClients" :new-client="newClient"></client-create-table>
      </div>

      <div v-if="toggleSaleView">
        <!--<material-table :theads="theads" :new-material-added="newMaterialAdded"></material-table>-->
        <!--<sales-create-table :theads="theadsSale" :new-sale="newSale"></sales-create-table>-->
      </div>

      <div v-if="toggleBrowse">
        <browse-inventory :section="'Sales'"></browse-inventory>
      </div>

    </div>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import CreateClient from '@/components/sales/CreateClient'
  import MakeSale from '@/components/sales/MakeSale'
  import ClientCreateTable from '@/components/tables/ClientCreateTable'
  import SalesCreateTable from '@/components/tables/SalesCreateTable'
  import BrowseInventory from '@/components/inventory/BrowseInventory'

  export default {
    name: 'products',
    components: {
      LoadingOverlay,
      CreateClient,
      ClientCreateTable,
      MakeSale,
      SalesCreateTable,
      BrowseInventory
    },
    data () {
      return {
        showCreateClient: false,
        showMakeSale: true,
        showBrowse: false,
        newClient: null,
        newSale: null
      }
    },
    computed: {
      showClientView () {
        this.showCreateClient = !this.showCreateClient
        this.showMakeSale = false
      },
      newSaleView () {
        this.showMakeSale = !this.showMakeSale
        this.showCreateClient = false
        this.showBrowse = false
      },
      showBrowseView () {
        this.showBrowse = true
        this.showMakeSale = false
      },
      toggleSaleView () {
        return this.showMakeSale
      },
      toggleBrowse () {
        return this.showBrowse
      },
      tClients () {
        return ['Id', 'Name', 'Address', 'Phone', 'Email']
      },
      theadsSale () {
        return ['Id', 'Client', 'Product', 'Quantity', 'Date']
      },
      isLoading () {
        return Store.getters.axiosCalls.refreshingToken
      }
    },
    methods: {
      toggleActiveClass (e) {
      }
    }
  }
</script>

<style scoped>
  .card-body{
    display: flex;
    align-items: center;
  }

  .btn-lg{
    min-width: 110px;
  }

  .button-list{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .button-list button{
    margin-right: 15px;
    /*margin-bottom: 15px;*/
  }

  .create-form{
    margin-left: auto;
    margin-right: auto;
  }

  .add-btn {
    margin-left: auto;
    margin-right: auto !important;
  }
</style>
<style lang="scss">
  input{
    &::placeholder{
      color: #999999;
    }

    &:focus{
      border-color: #ffc107 !important;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25) !important;
      box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25);
    }
  }

  select{
    &:focus{
      border-color: #ffc107 !important;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25) !important;
      box-shadow: 0 0 0 0.2rem rgba(#ffc107, 0.25);
    }
  }

  button[type=submit]{
    color: #ffffff;

    &:hover{
      color: #ffffff;
    }
  }

  .card-header{
    background: #ffc107;
    color: #ffffff !important;
  }
</style>
