<template>
  <div>
    <div class="alert alert-success" role="alert" v-if="getCreateSuccess">
      Successful creating client
    </div>
    <form id="create-client" @submit.prevent="createClient(client)">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>

      <!-- CLIENT NAME FIELD -->
      <b-form-fieldset
        label="Name"
        :label-cols="3"
        :horizontal="false"
        :breakpoint="'xl'">
        <b-form-input v-model="client.name" type="text" ref="name" :class="{ 'is-invalid': errorClient.name.length }" placeholder="Ex: Bob Ross"></b-form-input>
      </b-form-fieldset>
      <!-- Error Side -->
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorClient.name" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
      <!-- END CLIENT NAME FIELD -->

      <!-- CLIENT ADDRESS FIELD -->
      <b-form-fieldset
        label="Address"
        :label-cols="3"
        :horizontal="false">
        <b-form-input v-model="client.address" type="text" ref="address" :class="{ 'is-invalid': errorClient.address.length }" placeholder="Ex: Str.Aurului, nr 5, jud.Vaslui, Romania"></b-form-input>
      </b-form-fieldset>
      <!-- Error Side -->
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorClient.address" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
      <!-- END CLIENT ADDRESS FIELD -->

      <!-- CLIENT PHONE FIELD -->
      <b-form-fieldset
        label="Phone"
        :label-cols="3"
        :horizontal="false">
        <b-form-input v-model="client.phone" type="text" ref="phone" placeholder="Ex: +40761222333"></b-form-input>
      </b-form-fieldset>
      <!-- END CLIENT PHONE FIELD -->

      <!-- CLIENT EMAIL FIELD -->
      <b-form-fieldset
        label="Email"
        :label-cols="3"
        :horizontal="false">
        <b-form-input v-model="client.email" type="text" ref="email" :class="{ 'is-invalid': errorClient.email.length }" placeholder="Ex: contact@pernador.ro"></b-form-input>
      </b-form-fieldset>
      <!-- Error Side -->
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorClient.email" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
      <!-- END CLIENT ADDRESS FIELD -->

      <!-- CLIENT NOTES FIELD -->
      <b-form-fieldset
        label="Notes"
        :label-cols="3"
        :horizontal="false">
        <b-form-textarea v-model="client.notes"
                         placeholder="Specifications about client"
                         :rows="3"
                         :max-rows="6" :no-resize="true">
        </b-form-textarea>
      </b-form-fieldset>
      <!-- END CLIENT NOTES FIELD -->

      <div slot="footer">
        <b-button type="submit" size="md" variant="warning"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button class="reset-btn" type="reset" @click="resetAll" size="md" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
      </div>

    </form>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import ClientAPI from '@/api/ClientAPI'

  export default {
    name: 'create-client-form',
    components: {
      LoadingOverlay
    },
    props: {

    },
    data () {
      return {
        client: {
          name: null,
          address: null,
          phone: null,
          email: null,
          notes: null
        },
        errorClient: {
          name: [],
          address: [],
          email: []
        },
        alerts: {
          createSuccess: false
        },
        resetClient: false,
        loading: false
      }
    },
    computed: {
      isLoading () {
        return this.loading
      },
      getCreateSuccess () {
        return this.alerts.createSuccess
      },
      shouldReset () {
        return this.resetClient
      }
    },
    methods: {
      createClient (client) {
        this.clearErrorFields('errorClient')
        this.loading = true
        let $this = this

        API.makeAsyncCall(ClientAPI.createC, client)
          .then(response => {
            $this.alerts.createSuccess = true
            $this.$refs.name.$el.focus()
            $this.loading = false
            $this.$emit('newClientCreated', response)
            $this.resetAll()
          })
          .catch(err => {
            $this.loading = false
            console.log(err)
          })
      },

      clearErrorFields (errorField) {
        for (let key in this[errorField]) {
          this[errorField][key] = []
        }
      },

      manageErrors (data, errorFields) {
        for (let key in this[errorFields]) {
          this[errorFields][key] = []
          let errorMessage = data.error[key]
          if (errorMessage) {
            this[errorFields][key] = errorMessage
          }
        }
      },

      resetAll () {
        this.client = {
          name: null,
          address: null,
          phone: null,
          email: null,
          notes: null
        }
        this.errorClient = {
          name: [],
          address: [],
          email: []
        }
        this.resetClient = true
        this.loading = false
      }
    }
  }
</script>

<style>

</style>
