<template>
  <div>
    <div class="alert alert-success" role="alert" v-if="getCreateSuccess">
      Successful creating sale
    </div>

    <form id="make-sale" @submit.prevent="makeSale(sale)">
      <loading-overlay
        :isVisible="isLoading">
      </loading-overlay>

      <!-- SALE DATE FIELD -->
      <b-form-fieldset
        label="Date"
        :label-cols="3"
        :horizontal="false"
        :breakpoint="'xl'">
        <date-time-picker v-model="sale.addDate" ref="date"
                          :class="{ 'is-invalid': errorSale.addDate.length }">
        </date-time-picker>
      </b-form-fieldset>
      <!-- Error Side -->
      <div class="input-group">
        <input class="form-control is-invalid" type="hidden">
        <div class="invalid-feedback" v-for="error in errorSale.addDate" style="margin-top: -15px; margin-left: auto">{{ error }}</div>
      </div>
      <!-- END SALE DATE FIELD -->

      <client-create-add v-model="sale.client" :reset="shouldResetClient"
                         :passed-client="getPassedClient"
                         @reseted="resetClient = false"></client-create-add>

      <add-sale-items-dynamic v-model="sale.items" :passed-items="getPassedItems"
                              :reset="shouldReset" @reseted="resetItems = false"></add-sale-items-dynamic>

      <div slot="footer">
        <b-button type="submit" size="md" variant="warning"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button class="reset-btn" type="reset" @click="resetAll" size="md" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
      </div>

    </form>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/LoadingOverlay'
  import DateTimePicker from '@/components/form/DatetimePicker'
  import SaleAPI from '@/api/SaleAPI'
  import AddSaleItemsDynamic from '@/components/form/AddSaleItemsDynamic'
  import ClientCreateAdd from '@/components/form/ClientCreateAdd'

  export default {
    name: 'make-sale',
    components: {
      LoadingOverlay,
      DateTimePicker,
      AddSaleItemsDynamic,
      ClientCreateAdd
    },
    props: {
      passedSale: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        sale: {
          client: null,
          items: null,
          addDate: null
        },
        errorSale: {
          client: [],
          items: null,
          addDate: []
        },
        alerts: {
          createSuccess: false
        },
        resetItems: false,
        resetClient: false,
        loading: false
      }
    },
    computed: {
      sufficientStock () {
        return this.productStock - this.sale.quantity >= 0
      },
      requiredStock () {
        return Math.abs(this.productStock - this.sale.quantity)
      },
      isLoading () {
        return this.loading
      },
      getCreateSuccess () {
        return this.alerts.createSuccess
      },
      shouldReset () {
        return this.resetItems
      },
      shouldResetClient () {
        return this.resetClient
      },
      inEditMode () {
        return !!this.passedSale
      },
      getPassedClient () {
        if (this.inEditMode) {
          return this.sale.client
        }
        return null
      },
      getPassedItems () {
        if (this.inEditMode) {
          return this.sale.items
        }
        return []
      }
    },
    methods: {

      makeSale (sale) {
        this.clearErrorFields('errorSale')
        this.loading = true
        let $this = this

        console.log($this.sale)

        window.API.makeAsyncCall(SaleAPI.createS, sale)
          .then(response => {
            $this.alerts.createSuccess = true
            $this.$refs.date.$el.focus()
            $this.loading = false
            $this.$emit('newSaleMade', response)
            $this.resetAll()
          })
          .catch(err => {
            console.log(err.response.data)
            $this.loading = false
          })
      },

      clearErrorFields (errorField) {
        for (let key in this[errorField]) {
          this[errorField][key] = []
        }
      },

      manageErrors (data, errorFields) {
        for (let key in this[errorFields]) {
          this[errorFields][key] = []
          let errorMessage = data.error[key]
          if (errorMessage) {
            this[errorFields][key] = errorMessage
          }
        }
      },

      resetAll () {
        this.sale = {
          client: null,
          items: null,
          addDate: null
        }
        this.productStock = null
        this.errorSale = {
          client: [],
          product: [],
          quantity: [],
          addDate: []
        }

        this.resetItems = true
        this.resetClient = true
        this.loading = false
      },
      checkEditMode () {
        if (this.inEditMode) {
          this.sale = this.passedSale
        }
      }
    },
    created () {
      this.checkEditMode()
    }
  }
</script>

<style>

</style>
